<html>
    <body>
        <h3>Hello AWS World - running on Linux - on port 80</h3>
        <img src="https://cdn.wheredowe.party/linux-screenshot1.png" width="460px" />
        <hr />
        <img src="https://cdn.wheredowe.party/linux-screenshot2.png" width="460px" />
        <hr />
        <img src="https://cdn.wheredowe.party/linux-screenshot3.png" width="860px" />

    </body>
</html>
